include ../../mixins/marketAssetsMixin.pug

+marketAssets(commoditiesAssetsText.title[lang], commoditiesAssetsText.text[lang], "commodities", "<svg width=\"510\" height=\"440\" viewBox=\"0 0 510 440\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
"<rect class=\"an-d-035\" x=\"440\" width=\"70\" height=\"70\" rx=\"5\" fill=\"#F07881\"/>\n" +
"<rect class=\"an-d-040\" y=\"370\" width=\"70\" height=\"70\" rx=\"5\" fill=\"#F07881\"/>\n" +
"<path class=\"an-d-045\" d=\"M160 405C160 385.67 175.67 370 195 370C214.33 370 230 385.67 230 405C230 424.33 214.33 440 195 440H160V405Z\" fill=\"#6CC8C5\"/>\n" +
"<path class=\"an-d-050\" d=\"M390 405C390 385.67 374.33 370 355 370C335.67 370 320 385.67 320 405C320 424.33 335.67 440 355 440H390V405Z\" fill=\"#FAC035\"/>\n" +
"<rect class=\"an-d-055\" x=\"80\" y=\"290\" width=\"70\" height=\"70\" rx=\"35\" fill=\"white\" fill-opacity=\"0.35\"/>\n" +
"<rect class=\"an-d-060\" x=\"240\" y=\"370\" width=\"70\" height=\"70\" rx=\"35\" fill=\"white\" fill-opacity=\"0.35\"/>\n" +
"<rect class=\"an-d-065\" x=\"240\" y=\"290\" width=\"70\" height=\"70\" rx=\"5\" fill=\"white\" fill-opacity=\"0.35\"/>\n" +
"</svg>")
