.benefits-icon-currencies_1 {
  background-image: url("../images/profits-currencies_1.svg");
}
.benefits-icon-currencies_2 {
  background-image: url("../images/profits-currencies_2.svg");
}
.benefits-icon-currencies_3 {
  background-image: url("../images/profits-currencies_3.svg");
}
.benefits-icon-currencies_4 {
  background-image: url("../images/profits-currencies_4.svg");
}
.benefits-icon-metals_1 {
  background-image: url("../images/profits-metals_1.svg");
}
.benefits-icon-metals_2 {
  background-image: url("../images/profits-metals_2.svg");
}
.benefits-icon-metals_3 {
  background-image: url("../images/profits-metals_3.svg");
}
.benefits-icon-metals_4 {
  background-image: url("../images/profits-metals_4.svg");
}
.benefits-icon-stocks_1 {
  background-image: url("../images/profits-stocks_1.svg");
}
.benefits-icon-stocks_2 {
  background-image: url("../images/profits-stocks_2.svg");
}
.benefits-icon-stocks_3 {
  background-image: url("../images/profits-stocks_3.svg");
}
.benefits-icon-stocks_4 {
  background-image: url("../images/profits-stocks_4.svg");
}
.benefits-icon-commodities_1 {
  background-image: url("../images/profits-commodities_1.svg");
}
.benefits-icon-commodities_2 {
  background-image: url("../images/profits-commodities_2.svg");
}
.benefits-icon-commodities_3 {
  background-image: url("../images/profits-commodities_3.svg");
}
.benefits-icon-commodities_4 {
  background-image: url("../images/profits-commodities_4.svg");
}
.benefits-icon-crypto_1 {
  background-image: url("../images/profits-crypto_1.svg");
}
.benefits-icon-crypto_2 {
  background-image: url("../images/profits-crypto_2.svg");
}
.benefits-icon-crypto_3 {
  background-image: url("../images/profits-crypto_3.svg");
}
.benefits-icon-crypto_4 {
  background-image: url("../images/profits-crypto_4.svg");
}
.benefits-icon-indices_1 {
  background-image: url("../images/profits-indices_1.svg");
}
.benefits-icon-indices_2 {
  background-image: url("../images/profits-indices_2.svg");
}
.benefits-icon-indices_3 {
  background-image: url("../images/profits-indices_3.svg");
}
.benefits-icon-indices_4 {
  background-image: url("../images/profits-indices_4.svg");
}


// ADAPTIVE
@media (max-width: 1160px) {
  .section-profits {
    padding-bottom: 0 !important;
  }
}
