.page-header-light
	include ../nav.pug
header.page-header.page-header_404.page-header_other-page.page-header_forms
	.section-form-decor.section-form-decor_404.section-with-decor.section-with-decor_top-right.section-with-decor_bottom-left
	.wrapper.wrapper-header.wrapper-header_other-page.wrapper-header_404
		.text-header-wrapper.text-header-wrapper_404
			.decor-404.animate-svg(data-aos="" data-aos-delay="300")
				| <svg width="936" height="310" viewBox="0 0 936 310" fill="none" xmlns="http://www.w3.org/2000/svg">
				| <g clip-path="url(#clip0)">
				| <path class="an-d-035" d="M222.331 0H166.201C162.194 0 158.945 3.25293 158.945 7.26562V63.4714C158.945 67.4841 162.194 70.737 166.201 70.737H222.331C226.338 70.737 229.587 67.4841 229.587 63.4714V7.26562C229.587 3.25293 226.338 0 222.331 0Z" fill="#F2F4F7"/>
				| <path class="an-d-040" d="M222.331 79.5781H166.201C162.194 79.5781 158.945 82.8311 158.945 86.8437V143.05C158.945 147.062 162.194 150.315 166.201 150.315H222.331C226.338 150.315 229.587 147.062 229.587 143.05V86.8437C229.587 82.8311 226.338 79.5781 222.331 79.5781Z" fill="#F2F4F7"/>
				| <path class="an-d-045" d="M194.266 159.158H194.266C174.759 159.158 158.945 174.993 158.945 194.527V194.527C158.945 214.06 174.759 229.895 194.266 229.895H194.266C213.773 229.895 229.587 214.06 229.587 194.527V194.527C229.587 174.993 213.773 159.158 194.266 159.158Z" fill="#F2F4F7"/>
				| <path class="an-d-050" d="M222.331 238.738H166.201C162.194 238.738 158.945 241.991 158.945 246.004V302.21C158.945 306.222 162.194 309.475 166.201 309.475H222.331C226.338 309.475 229.587 306.222 229.587 302.21V246.004C229.587 241.991 226.338 238.738 222.331 238.738Z" fill="#F2F4F7"/>
				| <path class="an-d-055" d="M309.059 229.895C309.059 190.828 277.432 159.158 238.418 159.158V222.629C238.418 226.643 241.667 229.895 245.674 229.895H309.059Z" fill="#EAB657"/>
				| <path class="an-d-060" d="M0 194.527C0 214.06 15.8137 229.895 35.3207 229.895C54.8278 229.895 70.6415 214.06 70.6415 194.527V159.158H35.3208C15.8137 159.158 0 174.994 0 194.527Z" fill="#1DB2AD"/>
				| <path class="an-d-065" d="M142.858 159.158H86.7285C82.7212 159.158 79.4727 162.411 79.4727 166.424V222.63C79.4727 226.642 82.7212 229.895 86.7285 229.895H142.858C146.866 229.895 150.114 226.642 150.114 222.63V166.424C150.114 162.411 146.866 159.158 142.858 159.158Z" fill="#F2F4F7"/>
				| <path class="an-d-070" d="M79.4727 150.315C118.487 150.315 150.114 118.645 150.114 79.5781H86.7285C82.7211 79.5781 79.4727 82.8311 79.4727 86.8437V150.315Z" fill="#E4515C"/>
				| <path class="an-d-075" d="M849.272 0H793.143C789.135 0 785.887 3.25293 785.887 7.26562V63.4714C785.887 67.4841 789.135 70.737 793.143 70.737H849.272C853.28 70.737 856.528 67.4841 856.528 63.4714V7.26562C856.528 3.25293 853.28 0 849.272 0Z" fill="#1DB2AD"/>
				| <path class="an-d-080" d="M849.272 79.5781H793.143C789.135 79.5781 785.887 82.8311 785.887 86.8437V143.05C785.887 147.062 789.135 150.315 793.143 150.315H849.272C853.28 150.315 856.528 147.062 856.528 143.05V86.8437C856.528 82.8311 853.28 79.5781 849.272 79.5781Z" fill="#F2F4F7"/>
				| <path class="an-d-085" d="M821.208 159.158H821.207C801.7 159.158 785.887 174.993 785.887 194.527V194.527C785.887 214.06 801.7 229.895 821.207 229.895H821.208C840.715 229.895 856.528 214.06 856.528 194.527V194.527C856.528 174.993 840.715 159.158 821.208 159.158Z" fill="#F2F4F7"/>
				| <path class="an-d-090" d="M849.272 238.738H793.143C789.135 238.738 785.887 241.991 785.887 246.004V302.21C785.887 306.222 789.135 309.475 793.143 309.475H849.272C853.28 309.475 856.528 306.222 856.528 302.21V246.004C856.528 241.991 853.28 238.738 849.272 238.738Z" fill="#EAB657"/>
				| <path class="an-d-095" d="M936.001 229.895C936.001 190.828 904.374 159.158 865.36 159.158V222.629C865.36 226.643 868.608 229.895 872.616 229.895H936.001Z" fill="#F2F4F7"/>
				| <path class="an-d-0100" d="M626.945 194.527C626.945 214.06 642.758 229.895 662.265 229.895C681.773 229.895 697.587 214.06 697.587 194.527V159.158H662.265C642.758 159.158 626.945 174.994 626.945 194.527Z" fill="#F2F4F7"/>
				| <path class="an-d-0105" d="M769.804 159.158H713.674C709.667 159.158 706.418 162.411 706.418 166.424V222.63C706.418 226.642 709.667 229.895 713.674 229.895H769.804C773.811 229.895 777.06 226.642 777.06 222.63V166.424C777.06 162.411 773.811 159.158 769.804 159.158Z" fill="#E4515C"/>
				| <path class="an-d-0110" d="M706.418 150.315C745.432 150.315 777.059 118.645 777.059 79.5781H713.674C709.667 79.5781 706.418 82.8311 706.418 86.8437V150.315Z" fill="#F2F4F7"/>
				| <path class="an-d-0115" d="M496.066 238.738H439.936C435.928 238.738 432.68 241.991 432.68 246.004V302.21C432.68 306.222 435.928 309.475 439.936 309.475H496.066C500.073 309.475 503.321 306.222 503.321 302.21V246.004C503.321 241.991 500.073 238.738 496.066 238.738Z" fill="#F2F4F7"/>
				| <path class="an-d-0120" d="M496.066 0H439.936C435.928 0 432.68 3.25293 432.68 7.26562V63.4714C432.68 67.4841 435.928 70.737 439.936 70.737H496.066C500.073 70.737 503.321 67.4841 503.321 63.4714V7.26562C503.321 3.25293 500.073 0 496.066 0Z" fill="#F2F4F7"/>
				| <path class="an-d-0125" d="M575.535 159.158H519.405C515.398 159.158 512.149 162.411 512.149 166.424V222.63C512.149 226.642 515.398 229.895 519.405 229.895H575.535C579.542 229.895 582.791 226.642 582.791 222.63V166.424C582.791 162.411 579.542 159.158 575.535 159.158Z" fill="#F2F4F7"/>
				| <path class="an-d-0130" d="M353.207 114.947C353.207 134.48 369.021 150.315 388.528 150.315C408.036 150.315 423.848 134.48 423.848 114.947V79.5781H388.528C369.021 79.5781 353.207 95.4132 353.207 114.947Z" fill="#1DB2AD"/>
				| <path class="an-d-0135" d="M582.791 70.737C582.791 31.6701 551.164 -1.70766e-06 512.149 0V63.4714C512.149 67.484 515.397 70.737 519.405 70.737H582.791Z" fill="#EAB657"/>
				| <path class="an-d-0140" d="M547.47 79.5801H547.47C527.963 79.5801 512.149 95.4151 512.149 114.949V114.949C512.149 134.482 527.963 150.317 547.47 150.317H547.47C566.977 150.317 582.791 134.482 582.791 114.949V114.949C582.791 95.4151 566.977 79.5801 547.47 79.5801Z" fill="#F2F4F7"/>
				| <path class="an-d-0145" d="M388.528 159.158H388.528C369.021 159.158 353.207 174.993 353.207 194.527V194.527C353.207 214.06 369.021 229.895 388.528 229.895H388.528C408.035 229.895 423.849 214.06 423.849 194.527V194.527C423.849 174.993 408.035 159.158 388.528 159.158Z" fill="#F2F4F7"/>
				| <path class="an-d-0150" d="M353.203 238.738C353.203 277.806 384.831 309.475 423.845 309.475V246.004C423.845 241.991 420.596 238.738 416.589 238.738H353.203Z" fill="#E4515C"/>
				| </g>
				| <defs>
				| <clipPath id="clip0">
				| <rect width="936" height="310" fill="white"/>
				| </clipPath>
				| </defs>
				| </svg>
			h1.page-header__title_404.page-header__title.h2-title.center 404
			p.page-header__text-404 !{headerText404.text[lang]}
			.header-404__buttons
				a(href="index.html").btn.btn-2: span !{buttonText.btn404[lang]}
				a(href="contacts.html").form-links_item.center !{buttonText.btnSupport[lang]}
