mixin menuFooterMixin()
	.footer-wrapper(class="footer-wrapper_" + lang)
		.footer-row__item.footer-row__item-1
			a.footer-logo(href="index.html"): img(src=baseDir + "assets/images/logo.svg", alt="logo" width="44" height="48")
		.footer-row__item.footer-row__item-2
			.footer-content#page-footer
