.link-news {
    height: rem(168px);
    border-radius: rem(84px) rem(8px) rem(84px) rem(4px);
    width: 100%;
    display: flex;
    background: $color-white;
    padding-left: rem(96px);
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: rem(32px);
        line-height: rem(40px);
        font-weight: 700;
        color: #979797;
    }
}
.news-slider__items {
    .slick-slide {
        transition: .2s ease-out;
        opacity: 0;
        &.slick-active {
            opacity: 1;
        }
    }
}
.news-title {
    display: block;
    padding-right: rem(20px);
    padding-left: rem(20px);
    font-weight: 700;
    font-size: rem(17px);
    line-height: 140%;
    color: $color-black;
    max-height: rem(48px);
    margin-bottom: rem(40px);
}
.news-information-text {
    font-size: rem(14px);
    line-height: 140%;
}
.news-slider {
    position: relative;
}
.news-item__img {
    width: 100%;
    height: rem(252px);
    border-radius: rem(8px);
    object-fit: cover;
    margin-bottom: rem(8px);
    flex-shrink: 0;
}
.news-item__content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: rem(12px);
    width: 100%;
    align-items: flex-start;
}
.read-more {
    font-size: rem(16px);
    line-height: rem(24px);
    letter-spacing: 0.3px;
    font-weight: 500;
    color: $color-green;
    display: flex;
    align-items: center;
    &::before {
        content: '';
        display: inline;
        transition: 0.3s ease-in-out;
    }
    &:hover {
        &::before {
            color: $color-red;
        }
        path {
            fill:  $color-red;
        }
    }
}
.arrow-show-more {
    margin-left: rem(8px);
    path {
        transition: 0.3s ease-in-out;
    }
}
.news-slider_ru {
    .read-more {
        &::before {
            content: "Подробнее";
        }
    }
}
.news-slider_en {
    .read-more {
        &::before {
            content: "More details";
        }
    }
}
.news-slider_es {
    .read-more {
        &::before {
            content: "Más detalles";
        }
    }
}
.news-slider_de {
    .read-more {
        &::before {
            content: "Mehr Details";
        }
    }
}
.news-slider_fr {
    .read-more {
        &::before {
            content: "Plus de détails";
        }
    }
}
.news-slider_it {
    .read-more {
        &::before {
            content: "Più dettagli";
        }
    }
}
.news-slider_zh {
    .read-more {
        &::before {
            content: "更多细节";
        }
    }
}

.news-item__info-wrapper {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}
.news-item__title {
    width: 100%;
    height: rem(96px);
    margin-bottom: rem(16px);
}
.news-slider-button {
    position: relative;
    width: rem(48px);
    height: rem(48px);
    border-radius: 50%;
    background: $color-white;
    left: auto;
    right: auto;
    cursor: pointer;
    transition: .3s ease-out;
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: rem(20px);
        height: rem(20px);
        transition: .3s ease-out;
        background-repeat: no-repeat;
        background-size: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &::after {
        opacity: 0;
    }
    &:hover {
        &::before {
            opacity: 0;
        }
        &::after {
            opacity: 1;
        }
    }
}
.news-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(40px);
}
.news-slider-block {
    display: flex;
}
.wrapper-news {
    position: relative;
    z-index: 2;
}
.news-item {
    padding: 0 rem(12px);
}
.news-item__author {
    padding-right: rem(20px);
    position: relative;
    color: $color-red;
    &::before {
        content: '';
        display: block;
        width: rem(4px);
        height: rem(4px);
        border-radius: 50%;
        background: $color-text;
        right: rem(8px);
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}
.news-item__text {
    font-size: rem(12px);
    line-height: rem(16px);
}
.news-wrapper-inner {
    width: 100%;
    height: rem(432px);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.news-slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: rem(-12px);
    margin-right: rem(-12px);
    //.slick-slide {
    //    width: auto !important;
    //}
}
.pagination-wrapper_news {
    margin-left: rem(32px);
}
.section-news {
    z-index: 2;
}
.news-text-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: rem(8px);
}
.dots-wrapper_news-header {
    margin-top: rem(40px);
}
.news-decor {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: rem(-11px);
    z-index: -1;
    margin-left: rem(573px) ;
}
.arrow-slider-wrapper_news {
    justify-content: flex-end;
    margin-top: rem(44px);
}

// ADAPTIVE
@media (max-width: 1160px) {
    .news-item {
        width: 100% !important;
    }
    .news-header-wrapper {
        margin-bottom: rem(32px);
    }
    .pagination-wrapper_news {
        display: none !important;
    }
    .wrapper-news::before {
        display: none;
    }
    .arrow-slider-wrapper_news {
        margin-top: rem(24px);
    }
    .section-news {
        padding-bottom: 0 !important;
    }
    .news-decor {
        display: none;
    }
}
