include ../../mixins/marketAssetsMixin.pug

+marketAssets(metalsAssetsText.title[lang], metalsAssetsText.text[lang], "metals", "<svg width=\"484\" height=\"430\" viewBox=\"0 0 484 430\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n" +
"<path class=\"an-d-035\" d=\"M79.8079 70.5625C99.1378 70.5625 114.808 54.8925 114.808 35.5625C114.808 16.2325 99.1378 0.5625 79.8079 0.5625C60.4779 0.5625 44.8079 16.2325 44.8079 35.5625C44.8079 54.8925 60.4779 70.5625 79.8079 70.5625Z\" fill=\"#FAC035\"/>\n" +
"<path class=\"an-d-040\" d=\"M150 315C150 334.33 134.33 350 115 350C95.6709 350 80.0005 334.33 80.0005 315V280H115C134.33 280 150 295.67 150 315Z\" fill=\"#F07881\"/>\n" +
"<path class=\"an-d-045\" d=\"M313.75 395C313.75 414.329 329.42 430 348.75 430C368.08 430 383.75 414.329 383.75 395V360H348.75C329.42 360 313.75 375.67 313.75 395Z\" fill=\"#6CC8C5\"/>\n" +
"<path class=\"an-d-050\" d=\"M228.5 360H169C166.101 360 163.75 362.35 163.75 365.25V424.75C163.75 427.649 166.101 430 169 430H228.5C231.399 430 233.75 427.649 233.75 424.75V365.25C233.75 362.35 231.399 360 228.5 360Z\" fill=\"white\" fill-opacity=\"0.35\"/>\n" +
"<circle class=\"an-d-055\" cx=\"265\" cy=\"315\" r=\"35\" fill=\"white\" fill-opacity=\"0.35\"/>\n" +
"<circle class=\"an-d-060\" cx=\"115\" cy=\"235\" r=\"35\" fill=\"white\" fill-opacity=\"0.35\"/>\n" +
"<path class=\"an-d-065\" d=\"M0 350C0 311.34 31.3399 280 70 280V344.75C70 347.649 67.6497 350 64.75 350H0Z\" fill=\"#6CC8C5\"/>\n" +
"<path class=\"an-d-070\" d=\"M483.751 280C483.751 318.66 452.411 350 413.751 350V285.25C413.751 282.351 416.101 280 419.001 280H483.751Z\" fill=\"#F07881\"/>\n" +
"</svg>")
