@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato"),
  url("../../fonts/latoblack.woff2") format("woff2"),
  url("../../fonts/latoblack.woff") format("woff");
}
