// FONTS
$font-roboto: 'Roboto', sans-serif;
$font-lato: 'Lato', sans-serif;
$root-font-size: 16px;

//COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-green: #1DB2AD;
$color-red: #E4515C;
$color-button: linear-gradient(180deg, #F3767F 0%, #E4515C 100%);
$color-button_hover: linear-gradient(180deg, #EB636D 0%, #E4515C 100%);
$color-button_active: #E4515C;
$color-text: #8993A1;
$color-title: #073147;
$color-grey: #EAEBF5;
$color-grey-1: #f2f4f7;
$color-bg-header: #173748;
$color-link: #6583FE;
