.wrapper_quality {
  display: flex;
  justify-content: space-between;
}
.quality-wrapper_row-2 {
  flex-shrink: 0;
  margin-right: rem(14px);
  margin-top: rem(-8px);
  position: relative;
}
.quality-wrapper_row-1 {
  max-width: rem(552px);
  margin-top: rem(28px);
}
.h2-title_quality {
  margin-bottom: rem(24px);
}
.quality__text {
  margin-bottom: rem(40px);
}
.quality-decor {
  margin-left: rem(577px);
  top: rem(-23px);
}
.quality-decor-img {
  z-index: 2;
  margin-left: rem(-24px);
  top: rem(25px);
}




@media (max-width: 1160px) {
  .quality-decor-img {
    display: none;
  }
  .quality-wrapper_row-2 {
    flex-shrink: 1;
    margin-right: 0;
  }
  .quality-wrapper_row-1 {
    margin-right: rem(24px);
    max-width: none;
    flex-shrink: 3;
    margin-top: 0;
  }
  .section-quality {
    padding-bottom: 0 !important;
  }
}
@media (max-width: 760px) {
  .wrapper_quality {
    flex-direction: column-reverse;
    align-items: center;
  }
  .quality-wrapper_row-1 {
    margin-right: 0;
  }
  .quality-wrapper_row-2 {
    max-width: rem(300px);
    display: flex;
    justify-content: center;
    margin-bottom: rem(32px);
  }
}
