.header-img_about {
  margin-right: rem(-21px);
}
.wrapper-header_about {
  justify-content: flex-start;
  padding-bottom: rem(64px);
}
.text-header-wrapper_about {
  margin-top: rem(152px);
}
.page-header__text_about {
  margin-bottom: rem(24px);
}

@media (max-width: 1160px) {
}
